registry=http://docker-registry-proxy.corp.amdocs.com:8081/repository/npm-external/
proxy=http://10.232.233.70:8080
no_proxy="localhost,127.0.0.1,172.17.0.0/12,192.168.0.0/16,.svc,.default,.local,.internal,fs.amdocs.com,.amdocs.com,.amdocs.aws,.sock,bitbucket.corp.amdocs.com,.corp.amdocs.com,docker-registry-proxy.corp.amdocs.com"

